<mat-toolbar color="primary">
  <div id="toolbar-container">
    <div id="app-title">Marsbot Challenge</div>
    <div id="user-info">
      @if (user | async; as user) {
        <span id="user-name" >{{user.name}}</span>
        &#8211;
      }
      @if (robot | async; as robotId) {
        <span id="user-robot" (click)="refreshRobot()">Robot {{robotId}}</span>
      }</div>
    </div>
  </mat-toolbar>

  <div id="mainPage">
    @switch (state|async) {
      @case (stateType.ASSIGN_ROBOT) {
        <app-assign-robot></app-assign-robot>
      }
      @case (stateType.NEW_USER) {
        <app-welcome></app-welcome>
      }
      @case (stateType.WAIT_FOR_GAME) {
        <app-game-start></app-game-start>
      }
      @case (stateType.PLANNING) {
        <app-planner></app-planner>
      }
      @case (stateType.END_OF_GAME) {
        <app-game-end></app-game-end>
      }
      @case (stateType.ERROR) {
        <app-error></app-error>
      }
      @default {
        <div>Unknown state</div>
      }
    }
  </div>
