
@switch (pageState|async) {
  @case (stateType.SET_NAME) {
    <mat-card>
      <mat-card-content>
        <form class="configrow" [formGroup]="nameForm" (ngSubmit)="updateName()">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>Name cannot be empty</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="updateName()" [disabled]="!nameForm.valid">Go</button>
        </form>
      </mat-card-content>
    </mat-card>
  }
  @case (stateType.LOADING) {
    <app-spinner></app-spinner>
  }
}
